# Ignore node_modules in both backend and frontend
BackEnd/node_modules/
FrontEnd/node_modules/

# Ignore environment variable files
.env

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore build outputs (optional)
dist/
build/
